body,html{
    height: 100%;
    width: 100%;
}

.main-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center ;
    align-items: center;
}

.main-container > .login,
.main-container > .hero-body{
    height: auto;
    width: 100%;
    max-width: 400px;
    min-width: 300px;
}

.form-inline{
    display: inline-flex;
}

.hidden{
    display: none;
}

.cartel-stock{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.fact-detalle{/*cabecera*/
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas de igual tamaño */
    grid-template-rows: auto auto auto; /* Tres filas automáticas */
    gap: 10px; /* Espacio entre elementos */
    padding: 10px; /* Espacio interno del contenedor */
    margin-bottom: 30px;
    text-align: center;
}

#lista_proveedores{
    position: fixed;
    z-index: 1;
    color: white;
    border-radius: 20px;
    font-weight: 600;

    background-color: rgba(86, 86, 87, 0.5);
}